.{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper{
  margin: 200px auto;
  width:  320px;
  background-color: #000000;
  position: relative;
  color: white;
  text-align:  center;
  height: 40px;
  font-family: 'Arial';
}

#check-menu{
  display: none;
}

.label{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.burger-line{
  position: absolute;
  top: 8px;
  right: 10px;
  height: 2px;
  width: 35px;
  background-color: #FFFFFF;
}

.second, .third{
  top: 18px;
}

.fourth{
  top: 28px
}

.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

.a{
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top-color: 1px solid rgba(255,255,255,.3);
  background-color: #000;
}

#check-menu.checked - .main-menu{
  max-height: 500px;
  font-size: 16px;
}

#check-menu.checked - .first{
  display: none;
}
